.row
*{box-sizing: border-box;

}

#header-nav {
background-color: yellow;
height: 80px;


}
#text-center {

	text-align: center;
	font-size: 25px;
}

.navbar-brand {
	position: relative;
	right:50px;
	bottom: 0px;
	font-size: 25px;
	margin-right: 0px;
	margin-left: 0px;
	shape-margin: 0px;
	padding-left: 5px
}

.navbar-toggle {
  	position: relative;
  	left: 20px;
  	float: right;
  	margin-top: 8px;
  	margin-bottom: 0px;
  	margin-left:  0px;
  	margin-right: 0px;
  	background-color: orange;
  	border: 1px solid black;
  	border-radius: 5px;

}






#C-title {
	text-align: center;
	margin-top: 20px;
	position: relative;
	top: 32px;
	font-size: 25px;

}
#B-title {
	text-align: center;
	margin-top: 20px;
	position: relative;
	top: 32px;
	font-size: 25px;

}

#S-title {
	text-align: center;
	margin-top: 20px;
	position: relative;
	top: 32px;
	font-size: 25px;

}


p {
background-color: grey;
border: 1px solid black;
padding-top: 30px;
}

.icon-bar{
	background-color: red;

}

